
#btnPlay, #btnStop, #btnPause{
	-fx-font-family: 'FontAwesome';
	-fx-font-size: 32;
}

.button{
	-fx-font-family: 'FontAwesome';
	-fx-font-size: 16;
}

#btnBarMusicPlaylist1, #btnAddMusicPlaylist, #btnRemoveMusicPlaylist, #btnAddPlaylist, #btnRemovePlaylist, #btnEditPlaylist {
	-fx-font-family: 'FontAwesome';
	-fx-font-size: 16;
}

#txtFdSearch{
	
	-fx-font-family: 'FontAwesome';
	-fx-font-size: 16;
}

